/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





body {
   background-color: #fff;
}

header {
   background-color:  #2e2e2e;
   border: 1px solid;
   border-radius: 10px;
   height: 100px;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   
   
}

.logo {
   width: 100px;
   height: 100px;
   vertical-align: 1em;
   border-radius: 100%;

}

.text1 {
   color: #fff;
   font-size: 18px;
   text-align: left;
   text-indent: 1em;
   margin: -90px 100px 0px 78px;
}

.text2 {
   color: #fff;
   font-size: 12px;
   text-align: left;
   text-indent: 1em;
   /* margin: 0px 0px 10px 84px; */
   margin-left: 84px;
   
   
}

.menu-block {
   border: 1px solid;
   background-color: transparent;
   border-radius: 10px;
   height: 30px;
   margin-top: 7px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 1px;
}

.menu a {
   color: black;
   text-decoration: none;
}

li {
   display: inline;
   font-size: 15px;
   margin-left: 10px;
   padding: 10px
}

li:last-child {
   margin-right: 0px;
}

a:hover {
   color: rgb(56, 118, 189);
}


